.root
  flex-direction row
  justify-content space-between

.left
  flex-direction row

.foundWrapper
  flex-direction row

.sortWrapper
  flex-direction row
  margin-left 6u
  align-items center

.caretImage
  width 2u
  height 2u
  margin-left 4u

.right
  flex-direction row

.icon,
.iconRight
  width 2u
  height 2u

.iconRight
  margin-left 3u
