.root
  justify-content space-between

  +tablet()
    flex-direction row

.left
  +tablet()
    flex-direction row

.foundWrapper
  flex-direction row

.sortWrapper
  flex-direction row
  align-items center
  margin-top 1u
  +tablet()
    margin  0 0 0 6u

.caretImage
  width 2u
  height 2u
  margin-left 4u

.right
  flex-direction row
  margin-top 2u

  +tablet()
    margin-top 0

.icon,
.iconRight
  width 2u
  height 2u

.iconRight
  margin-left 3u
