.bg
  width 100%
  height 26u
  justify-content center
  padding 0 2u

  +tablet()
    height 35u

  +desktop()
    height 42u
    padding 0 6u

  +wide()
    height 62u
    padding 0 9u

.breadcrumb
  margin-top 1u

.contentWrapper
  +wide()
    align-items center

.content
  +wide()
    width 150u

