.bg
  width 100%
  height 23u
  justify-content center
  padding 0 2u

  +tablet()
    height 30u

  +desktop()
    height 37u
    padding 0 6u

  +wide()
    padding 0 9u

.breadcrumb
  margin-top 1u

.contentWrapper
  +wide()
    align-items center

.content
  +wide()
    width 150u

