_gray = #686868

.priceLine
  flex-grow 1
  height 2u
  flex-direction row
  align-items center
  margin-top 2.5u

.line
  flex-grow 1
  background _gray
  height 2px

.border
  height 1.5u
  background _gray
  width 0.5u

.labels
  margin-top 1u
  flex-direction row
  justify-content space-between
