.root
  padding 5u 2u

  +tablet()
    flex-direction row
    flex-wrap wrap
    padding 5u 9u

.icons
  flex-direction row
  margin-top 1.5u

.icon
  width 2u
  height 2u

.iconWrapper
  padding 1u
  margin-left 2u
  border 1px solid gray
  border-radius 2u

  &-first
    margin-left 0

.center
  margin-top 4u

.menu
  flex-direction row
  margin-top 2u

.menuItem
  margin-left 1u

  &-first
    margin-left 0

.divider
  width 20u
  height 1px
  background #6d6d6d
  margin-top 1u

.copyright
  margin-top 1u

.logo
  width 116px
  height 31px

.right
  margin-top 3u

.contact
  flex-direction row

.left,
.center,
.right
  +tablet()
    width 50%
    justify-content center

  +desktop()
    width 33.33%

.center
  +tablet()
    align-items center

.right
  +desktop()
    padding-left 6u
    align-items flex-end
