

.search
  flex-direction row
  width 100%
  margin-top 3u

.input
  flex-grow 1
  height 5u
  background #f1f1f1
  padding-left 2u

.button
  width 6u
  height 5u
  justify-content center
  align-items center
  background #dedede

.icon
  width 2u
  height 2u
