.root
  margin-top 3u
  min-width 23.5u
  width 100%

  +tablet()
    width 50%
    padding-right 1.5u

    &-even
      padding-left 1.5u
      padding-right 0

  +wide()
    padding-left 1.5u
    width 33.33%
    padding-right 0
    &-third
      padding-left 0

.image
  height 50u
  max-width 53u
  min-width 23.5u
  width 100%

  +desktop()
    height 45u

  +wide()
    height 40u

.content
  margin-top 1u

.label
  flex-direction row
  justify-content space-between

.sale
  background #626262
  flex-direction row
  margin 2.5u 0 0 2.5u
  padding 0.5u 1.5u
  color #fff
  max-width 9u
  text-align center

.icon
  align-self self-start
  padding-left 0
