.products
  margin-top 3u

.product
  flex-direction row
  margin-top 1.5u

  &-first
    margin-top 0

.image
  width 11u
  height 11u

.productContent
  margin-left 2u

.rate
  margin-top 0.5u
  flex-direction row

.rateImage
  width 1.5u
  height 1.5u
  margin-left 1u

  &-first
    margin-left 0

.price
  margin-top 0.5u
