.root
  padding 2u 0
  flex 1

.content
  padding 6u 3u
  background #fff

  +desktop()
    flex-direction row
    padding 2u 6u
  //max-width 100%

.main
  //flex-grow 1
  max-width 100%
  width auto
  margin-top 5u

  +desktop()
    max-width 70%
    padding 0 0 0 5u
